<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jesse Squires</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>drumpf</string>
	<key>CFBundleIdentifier</key>
	<string>com.jessesquires.drumpf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Make News Real Again</string>
	<key>DeveloperIdentifier</key>
	<string>5VRJU68BZ5</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.jessesquires.com</string>
</dict>
</plist>
